<%
    const menuItems = [
        {
            text: 'Pradžia',
            href: '#pradzia'
        },
        {
            text: 'Apie mus',
            href: '#apie-mus'
        },
        {
            text: 'Apie specialistus',
            href: '#apie-specialistus'
        },
        {
            text: 'D.U.K.',
            href: '#duk'
        },
    ];
%>

<section class="w-full px-8 text-gray-700 bg-white body-font fixed z-50" x-data="{showMenu: false}">
    <div class="container flex items-center justify-between py-4 mx-auto max-w-7xl">
        <a href="/" class="z-10 flex items-center w-auto text-2xl font-extrabold leading-none text-black select-none">IndiMed<span class="text-green-600">.</span></a>

        <nav :class="showMenu ? '' : 'hidden'" class="top-0 left-0 z-0 px-8 pb-6 pt-14 md:p-0 bg-white shadow-md md:shadow-none absolute md:static flex flex-col md:flex-row md:flex md:items-center justify-center w-full md:w-auto gap-y-3 gap-x-6 text-base">
            <% menuItems.forEach((item) => { %>
                <a href="<%= item.href %>" class="font-medium leading-6 text-gray-600 transition duration-150 ease-out hover:text-gray-900" x-on:click="showMenu = false">
                    <span class="block"><%= item.text %></span>
                </a>
            <% }) %>
        </nav>

        <div class="hidden md:flex items-center space-x-3 shrink-0">
            <span class="inline-flex rounded-md shadow-sm">
                <a href="#" class="inline-flex items-center justify-center px-4 py-1.5 text-base font-medium leading-6 text-white whitespace-no-wrap bg-green-600 rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" data-rounded="rounded-md" data-primary="green-600">Palikti užklausą</a>
            </span>
        </div>

        <button class="relative z-10 flex md:hidden justify-self-end" x-on:click="showMenu = !showMenu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M3 8H21C21.2652 8 21.5196 7.89464 21.7071 7.70711C21.8946 7.51957 22 7.26522 22 7C22 6.73478 21.8946 6.48043 21.7071 6.29289C21.5196 6.10536 21.2652 6 21 6H3C2.73478 6 2.48043 6.10536 2.29289 6.29289C2.10536 6.48043 2 6.73478 2 7C2 7.26522 2.10536 7.51957 2.29289 7.70711C2.48043 7.89464 2.73478 8 3 8ZM21 16H3C2.73478 16 2.48043 16.1054 2.29289 16.2929C2.10536 16.4804 2 16.7348 2 17C2 17.2652 2.10536 17.5196 2.29289 17.7071C2.48043 17.8946 2.73478 18 3 18H21C21.2652 18 21.5196 17.8946 21.7071 17.7071C21.8946 17.5196 22 17.2652 22 17C22 16.7348 21.8946 16.4804 21.7071 16.2929C21.5196 16.1054 21.2652 16 21 16ZM21 11H3C2.73478 11 2.48043 11.1054 2.29289 11.2929C2.10536 11.4804 2 11.7348 2 12C2 12.2652 2.10536 12.5196 2.29289 12.7071C2.48043 12.8946 2.73478 13 3 13H21C21.2652 13 21.5196 12.8946 21.7071 12.7071C21.8946 12.5196 22 12.2652 22 12C22 11.7348 21.8946 11.4804 21.7071 11.2929C21.5196 11.1054 21.2652 11 21 11Z" fill="black"></path>
            </svg>
        </button>
    </div>
</section>